doctype html
html
    head
        title= "Sockets and Sorcery"
    body
        .description
            h1.
              Sockets and Sorcery
            p.
              An application for assisting the traditional (or not so traditional) pen and paper role playing games
            P.
              There are multiple components to this application
            ul
              li
                a(href='/screen') Screen sizer ( for when the host screen has overscan issues )
              li
                a(href='/screen-control') Sizer controls
              li
                a(href='/chat') Chat
              li
                a(href='/map') Map ( general game board )
              li
                a(href='') Companion ( for character sheets, inventories, etc... )
