doctype html
html
    head
        title= "Pixi"
        script(src='/js/jquery.min.js')
        script(src='/js/pixi.js')
        script(src='/socket.io/socket.io.js')
    body(style="margin: 0;")
        #game-container
        script(src='/sorcerer.js')
