doctype html
html
    head
        title= "RPG"
        script(src='/js/jquery.min.js')
        script(src='/js/phaser.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/rpg.js')
    body(style="margin: 0;")
        #game-container
